@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply box-border;
  @apply font-poppins;
  @apply text-sm;
  @apply whitespace-nowrap;
  @apply bg-gradient-to-t from-lightGray to-mediumGray;
}

#layoutMain {
  @apply bg-lightGray;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-7%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes ping {
  25%,
  50% {
    transform: scale(1);
    opacity: 0;
  }
}

.animate-ping {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.contactScreen {
  @apply flex flex-row items-center justify-between sm:flex-col sm:gap-2 sm:p-1;
}

.svgContactScreen {
  @apply flex w-[3rem] h-[3rem] items-center;
}

.margins {
  @apply mx-1 sm:mx-2 md:mx-3 lg:mx-4 xl:mx-6 2xl:mx-8;
}

.paddingYScreens {
  @apply py-1 sm:py-3 md:py-4 lg:py-5 xl:py-6 2xl:py-8;
}

.vBtnStyle {
  @apply text-sm cursor-pointer md:text-base md:text-mediumGray text-golden hover:underline hover:underline-offset-1 hover:decoration-black md:hover:decoration-golden;
}

.smallTitles {
  @apply text-sms text-golden;
}

.menusStyle {
  @apply mx-auto rounded-md shadow-sm;
}

.menuOpenStyle {
  @apply z-20 content-center rounded-md shadow-sm bg-lightGray;
}

.pDescription {
  @apply text-sm text-center whitespace-normal text-mediumGray;
}

.styleScreens {
  @apply mx-auto min-w-[21rem] mt-[0.28rem] z-10;
}

.pMenus {
  @apply border-b-[0.1rem] mb-1;
}

.vLabels {
  @apply mx-1 mt-2 mb-[0.08rem] px-1 whitespace-nowrap text-xxs;
}

.vInputs {
  @apply px-1 mx-1 rounded-sm border-border1 border-goldenAlpha;
}

.vSelect {
  @apply px-1 mx-1 rounded-sm text-xms text-golden border-border1 border-goldenAlpha;
}

.vInputErrors {
  @apply mx-auto whitespace-normal text-center text-sms text-red max-w-[24rem];
}
